<!-- .comingSoon{
    width: 100%;
    height: 100vh;
    background-image: url(../img/containerSlider1.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.soon{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.soon p{
    color: #333333;
    font-family: 'Cormorant Garamond', serif;
    padding: 1rem 0;
    font-size: 3rem;
} -->
<div class='comingSoon'>
    <div class='soon'>
        <p>Tezliklə...</p>
    </div>
</div>