.products{
    width: 100%;
    padding: 2rem 0 6rem 0;
    background-image: url(../img/productBg.png);
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    
    
}
.productsInner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.swipWrapper{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.allProductSwip{
    width: 25% !important;
}
.swipInner{
    width: 90%;
}
.headingInner{
    width: 35%;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headingInner h2{
    color: black;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-size: 3.6rem;
}
.headingInner img{
    width: 100%;
}
.swiperPage{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
@media only screen and (max-width: 1024px) {
    .headingInner h2{
        font-size: 3rem;
    }
}
@media only screen and (max-width: 768px) {
    .headingInner{
        width: 40%;
    }
    .headingInner{
        width: 50%;
        margin-bottom: .5rem;
    }
}
@media only screen and (max-width: 426px) {
    .headingInner{
        width: 70%;
    }
    .headingInner h2{
        font-size: 2rem;
    }
    .allProductSwip{
        width: 33.3% !important;
    }
}
@media only screen and (max-width: 426px) {
    .allProductSwip{
        width: 33.33% !important;
    }
}