@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
.shoppingCardWrapper{
    width: 100%;
    margin-right: 22px;
    position: relative;
    margin-top: .6rem;
}
.ShoppingCard{
    /* width: 100%; */
    text-align: center;
    overflow: hidden;
    backdrop-filter: blur(2px);
}
.ShoppingCard .image{
    width: 100%;
    height: 70%; 
}
.ShoppingCard .image img{
    width: 100%;
    height: 100%;
    /* transition: .25s ease; */
}
.ShoppingCard .image .view{
    position: absolute;
    right: 1.5rem;
    top: .7rem;
    display: flex;
    flex-direction: column;
}
.ShoppingCard .image .view a{
    /* position: relative; */
    padding: .37rem;
    margin: .2rem 0;
    font-size: .9rem;
    color: black;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.ShoppingCard .image .view a svg{
    z-index: 2;
}
.ShoppingCard .image .view a:hover{
    color: #fff !important;
    background-color: #e4dad7;
}
.ShoppingCard .image .view a span{
    padding: .27rem .8rem;
    display: none;
    color: #fff !important;
    background-color: #e4dad7;
    transform: translateX(-95%);
    position: absolute;
    white-space: nowrap;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.ShoppingCard .image .view a:hover span{
    display: inline-block;
}
.ShoppingCard .image .view a:hover{
    color: #fff !important;
    background-color: #e4dad7;
}
a{
    transition: color .3s ease;
}
.bottom h3 a:hover{
    color: #d4b9bd ;
}
.ShoppingCard .category{
    color: #777;
    font-weight: 300;
    font-size: 14px;
    /* line-height: 1.2; */
    letter-spacing: -.01em;
}
.ShoppingCard h3{
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 0.9;
    letter-spacing: -.01em;
    margin: .5rem 0;
}
.ShoppingCard .category a{
    color: #777;
}
.ShoppingCard h3 a{
    color: #333;
}
.ShoppingCard .price{
    color: #fff;
    /* color: #e4dad7; */
    font-weight: 400;
    font-size: 1.3rem;
}
.ShoppingCard:hover{
    cursor: pointer;
    box-shadow: 0 5px 15px #777777;
    transition: .25s ease;
}
.ShoppingCard:hover .btn{
    animation-name: btn;
}
.ShoppingCard .btn{
    animation-name: button;
}
.ShoppingCard:hover .btn,
.ShoppingCard .btn{
    visibility: visible !important;
    animation-duration: 500ms;
    animation-timing-function: ease;
    animation-delay: 100ms;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}
@keyframes button {
    0%   {   transform: translateY(0); }
    100% {   transform: translateY(150%); }
}
@keyframes btn {
    0%   {   transform: translateY(150%); }
    100% {   transform: translateY(0); }
}
.ShoppingCard .bottom{
    background-color: rgb(0, 0, 0, .1);
    padding: 1rem 0 .4rem 0;

}
.ShoppingCard .bottom .btn{
    visibility: hidden;
    text-transform: uppercase;
    border: .1rem solid #ebebeb;
    margin: .4rem 2rem ;
    font-weight: 400;
    letter-spacing: -.01em;
    transition: all .35s ease;
}
.ShoppingCard .bottom .btn:hover{
    background-color: #e4dad7;
}
.ShoppingCard .bottom .btn a{
    width: 100%;
    color: #666 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ShoppingCard .bottom .btn:hover a{
    color: white !important;
}
.ShoppingCard .bottom .btn a span{
    padding: 1px 4px 5px 0;
}
.ShoppingCard .review {
    margin: .3rem;
}
.quantity{
    border: 1px solid #999;
    /* width: 30% !important; */
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}
.quantity button{
    padding: .2rem .8rem;
    display: flex;
    justify-content: space-between;
}
button{
    border: transparent;
    outline: none;
    background-color: white;
}
.btn svg path{
    color: #999 !important;
}
.btn:hover{
    cursor: pointer;
}
.df{
    width: 100%;
    display: inline-flex;
}
.df a{
    display: inherit;
    width: 60%;
    margin-left: 2rem;
}
.modalInImg{
    width: 100%;
    transition: .5s easy;
}
.btn button{
    border: none !important;
    background: transparent;
    padding: 0;
}
@media only screen and (max-width: 1024px) {
    .ShoppingCard h3{
        font-size: 1rem;
        margin: .3rem 0;
    }
    .ShoppingCard .image .view{
        right: .7rem !important;
    }
    .ShoppingCard .bottom .btn a{
        font-size: 1rem;
    }
}
@media only screen and (max-width: 768px) {
    .shoppingCardWrapper{
        margin-right: 10px;
        margin-top: .6rem;
    }
    .ShoppingCard .image .view{
        right: .7rem;
        top: .5rem;
    }
    .ShoppingCard .image .view a{
        padding: .3rem;
        margin: .2rem 0;
        font-size: .7rem;
    }
    .ShoppingCard .price{
        font-size: 1rem;
    }
    .ShoppingCard .bottom .btn{
        margin: .4rem 1rem ;
    }
    .ShoppingCard .bottom .btn a{
        font-size: .7rem;
    }
    .ShoppingCard .bottom a{
        font-size: .85rem;
    }
    /* .snackbar{
        width: 30%;
    } */
    
    /* .ShoppingCard h3{
        font-size: 1rem;
        margin: .3rem 0;
    } */
    .ShoppingCard .image .view a span{
        padding: 0.23rem 0.5rem;
        letter-spacing: -.02em;
    }
}
@media only screen and (max-width: 426px) {
    .ShoppingCard h3{
        font-size: .9rem;
    }
    .ShoppingCard .price{
        font-size: .9rem;
    }
    .ShoppingCard .bottom .btn{
        margin: .4rem 1rem ;
        font-weight: 400;
    }
    .ShoppingCard .bottom .btn a{
        font-weight: 400;
        font-size: .7rem;
    }
    /* .shoppingCardWrapper{
        margin-right: 4px;
        margin-top: .4rem;
    } */
    .ShoppingCard .review {
       font-size: .7rem;
    }
    .ShoppingCard .image .view a span{
        padding: 0.28rem 0.5rem;
        letter-spacing: -.04em;
        font-size: .6rem;
    }
    .ShoppingCard .image .view{
        right: .4rem !important;
    }
}
@media only screen and (max-width: 376px) {
    .ShoppingCard h3{
        font-size: .8rem;
    }
    .shoppingCardWrapper{
        margin-right: 4px;
        margin-top: .4rem;
    }
    .ShoppingCard .review {
        font-size: .7rem;
    }
    .ShoppingCard .image .view a{
        padding: 0.4rem;
        font-size: .8rem;
    }
    .ShoppingCard .image .view a span{
        padding: .34rem .5rem;
        letter-spacing: 0;
        font-size: .8rem;
    }
    .ShoppingCard .image .view{
        right: .7rem !important;
    }
    .ShoppingCard .bottom a{
        font-size: 1rem;
    }
    .ShoppingCard .price{
        font-size: 1.2rem;
    }
}