.lilacSwip{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* background-image: url(../img/container-slider-1.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
}
/* .lilac img{
    width: 100%;
    transform: rotate(45deg);
} */
.lilacSwip p,
.lilacSwip span{
    color: #4D4D4D;
    font-family: 'Cormorant Garamond', serif;
    padding: 1rem 0;
}
.lilacSwip span{
    text-transform: uppercase;
}
.lecekBack{
    width: 100%;
    font-size: 3rem;
}
.lecekBack .btn{
    background: #dac8c3;
    box-shadow: 0px 9px 27px #e4dad7;
    border-radius: 12px;
    padding: 1rem;
    font-weight: 700;
    width: 150px;
    font-size: .9rem;
    line-height: 22px;
    text-transform: uppercase;
    color: #fff !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e4dad7;
    transition: .3s ease;
    /* position: relative; */
}
.lecekBack .btn:hover {
    background-color: #d4b9bd;
    color: #e4dad7;
    transition: ease-in-out .2s;
}
.lilac{
    width: 25%;
}
.lecekBack{
    width: 35%;
}
.lilac,
.lecekBack{
    animation-duration: 1000ms;
    animation-timing-function: ease;
    animation-delay: 150ms;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}
.lilac{
    animation-name: animation-left;
}
.lecekBack{
    animation-name: animation-right;
}
@keyframes animation-left{
    from {transform: translateX(-200%);}
    to {transform: translateX(0%);}
}
@keyframes animation-right{
    from {transform: translateX(200%);}
    to {transform: translateX(0%);}
}
@media only screen and (max-width: 768px) {
    .lecekBack{
        margin: 0 30% 20% 0;
        font-size: 2rem;
    }
}
@media only screen and (max-width: 426px) {
    .lilacSwip{
        background-position: 90% 100%;
    }
    .lecekBack{
        font-size: 2rem;
        margin: 0 50% 110% 0;
    }
    .lecekBack .btn{
        width: 120px;
        padding: .5rem;
        font-weight: 500;
    }
}
@media only screen and (max-width: 376px) {
    .lilacSwip{
        background-position: 90% 100%;
    }
    .lecekBack .btn{
        width: 120px;
        padding: .5rem;
        font-weight: 600;
    }
}