header{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    overflow: hidden;
}
.header{
    width: 100%;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    overflow: hidden;
}
.logo{
    width: 150px;
    height: 150px;
}
.logo img{
    width: 100%;
    height: 100%;
}
.searchWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.searchWrapper ul{
    width: 38%;
    margin: 3rem 0rem 0 0rem;
    padding: 0.5rem 2rem 0.5rem 1rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    /* box-shadow: 0 5px 15px #b3b3b3; */
    border-radius: 20px;
    border: 1px solid rgb(189, 187, 187);
}
.searchWrapper ul li{
    margin-top: .15rem;
}
.searchList{
    height: 12.4rem;
    overflow-y: scroll;
    z-index: 999;
}
.searchList::-webkit-scrollbar {
    width: 10px;
}
.searchList::-webkit-scrollbar-track {
    background: #f1f1f1; 
    visibility: hidden;
}
.searchList::-webkit-scrollbar-thumb {
    border-radius: 10px;
    visibility: hidden;

}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.searchList::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.searchListMin7{
    z-index: 999;
}
.visible{
    visibility: hidden;
}
.searchListLi{
    color: black;
}
.searchCart{
    width: 50%;
    margin-right: 2.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* .searchCart input{
    height: 38px;
    line-height: 20px;
    padding: 0 45px 0 15px;
    border-radius: 20px;
    outline: none;
    border: 1px solid rgb(189, 187, 187);
} */
.searchCart input{
    transition: 0.4s;
    background-color: #fff;
}
.searchCart label{
    position: absolute;
    transform: translateX(-75%);
    color:  #e4dad7;
}
.searchCart label svg{
    font-size: 1.1rem;
}
.count {
    background-color: #e4dad7;
    color: #4D4D4D;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    transform: translateY(-30%);
    margin-left: -10px;
}
.myProfile{
    background: #e4dad7;
    box-shadow: 0px 9px 27px #e4dad7;
    border-radius: 12px;
    padding: 1rem;
    font-weight: 700;
    width: 150px;
    font-size: .9rem;
    line-height: 22px;
    text-transform: uppercase;
    color: #fff !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e4dad7;
    transition: .3s ease;
    /* position: relative; */
}
.myProfile:hover{
    background-color: #d4b9bd;
    color: #e4dad7;
    transition: ease-in-out .2s;

}
.myProfile svg{
    font-size: 1.3rem;
    margin-right: .5rem;
}
.header .right>ul{
    width: 43%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header ul svg{
    font-size: 1.2rem;
}
.right{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .bottom ul{
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
}
header .bottom ul li{
    border-bottom: .12rem solid transparent;
    transition: all .35s ease;
    position: relative;
}
header ul>li:nth-child(3){
    display: none;
}
header .bottom ul li:hover::after{
    transform: scaleX(1);
    transform-origin: right;
}
header .bottom ul li::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: .12rem;
    z-index: 0;
    background-color: #e4dad7;
    transform: scaleX(0);
    transform-origin: left;
	transition: transform .3s ease;
}
header .bottom ul a{
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.7rem;
    text-transform: capitalize;
    color: #4D4D4D;
   
}
header ul li a:hover {
    color: #d4b9bd;
    transition: ease-in-out .2s;
}
header ul li a{
    color: black;
    display: flex;
}
.menuButton{
    /* margin: 20% 40% 10% ; */
	padding-right: 1rem;
	position: absolute;
	z-index: 999;
	/* margin: 2.5rem 0; */
    /* top: 3rem; */
  }
  .menuButton:hover .menuButtonLine:nth-child(1){
   animation: slide 1s infinite;
  }
  .menuButton:hover .menuButtonLine:nth-child(2){
   animation: slide 2s infinite;
  }
  .menuButton:hover .menuButtonLine:nth-child(3){
   animation: slide 1.4s infinite;
  }
  .menuButtonLine{
	  height: 2px;
	  width: 24px;
	  margin-bottom: 5px;
	  background: black;
	  transition:.3s;
	  transition-timing-function: linear;
  }
.child1{
      height: 2px;
      width: 24px;
	  background: #fff;
	  transform: rotate(45deg)translate(-74px,-63px);
	  transition:1.2s;
	  animation: none !important;
  }  
.child2{
	  opacity: 0;
  } 
.child3{
      height: 2px;
      width: 24px;
	  background: #fff;
	  transform: rotate(-45deg)translate(64px,-75px);
	  transition:1.2s;
	  animation: none !important;
  }  
  @keyframes slide {
	0%{
	  width:20px;
	}
	  50%{
		width:10px;
	}
	  100%{
		width:20px;
	}
  }
  .openMenu{
      width: 100%;
	  /* height: 100vh; */
      top: 2.9rem;
      padding-bottom: 1rem;
      position: absolute;
	  background-color: #e4dad7;
	  transition: .4s easy;
	  animation-duration: 500ms;
	  animation-timing-function: ease;
	  animation-delay: 100ms;
	  animation-direction: alternate;
	  animation-fill-mode: both;
	  animation-iteration-count: 1;
	  animation-name: openMenuAnimation;
      z-index: 998;
      box-shadow: 0px 14px 17px -9px rgba(92, 92, 92, 0.85);

  }
  .showMenu{
	width: 100%;
	/* height: 100vh; */
    top: 2.9rem;
    padding-bottom: 1rem;
    position: absolute;
	background-color: #e4dad7;
	transition: .4s easy;
	animation-duration: 500ms;
    animation-timing-function: ease;
    animation-delay: 100ms;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-iteration-count: 1;
	animation-name: showMenuAnimation;
    z-index: 998;
    box-shadow: 0px 11px 17px -9px rgba(92, 92, 92, 0.85);

}
@keyframes openMenuAnimation {
  0%   {   right: 0;}
  100% {   right: -100%; }
}
@keyframes showMenuAnimation {
  0%   {   right: -100%;}
  100% {   right: 0; }
}
.openMenu>ul,
.showMenu>ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
}
.openMenu>ul li,
.showMenu>ul li{
    width: 50%;
    border: 1px dashed rgb(204, 204, 204);
    border-radius: 10px;
    box-shadow: 1px 1px 21px -5px #818181;
    padding: 1rem;
    margin: .5rem 0 !important;
    text-align: center;
}
.openMenu>ul li a,
.showMenu>ul li a{
    display: inline-block;
    color: #fff;
}
.openMenu>ul li a:focus,
.showMenu>ul li a:focus{
    background-color: #e4dad7;
}
@media only screen and (max-width: 768px) {
    .bottom{
        display: none;
    }
    .ul1 li:nth-child(1),
    .ul1 li:nth-child(2){
        margin-right: .5rem;
    }
    .searchCart{
        margin-right: 0;
        width: 55%;
    }
    .ul1>li:nth-child(5){
        /* display: none; */
        visibility: hidden;
    }
    .ul1>li:nth-child(3){
        display: inline-block;
    }
    .menuButton{
        top: 4rem;
        margin-top: 1.5rem;
        right: 2rem;
    }
    .openMenu{
        top: 3.2rem;
        /* display: none; */
    }
    .showMenu{
        top: 3.2rem;
      /* display: inline-block; */
    }
    .menuButton{
        /* top: 0; */
        margin-top: 3.6rem;
        right: .3rem;
    }
}
@media only screen and (max-width: 426px) {
    .searchCart{
        margin-right: 0;
        margin-left: 1rem;
        width: 65%;
    }
    .logo{
        width: 100px;
        height: 100px;
    }
    .right{
        width: 70%;
        display: flex;
        align-items: center;
    }
    .header .right>ul li:nth-child(1){
        margin-left: 1.5rem;
        display: flex;
        align-items: center;
    }
    .bottom,
    .myProfile,
    .ul1 li:nth-child(2),
    .ul1 li:nth-child(5){ 
        display: none;
    }
    .ul1 li:nth-child(2){
        left: -20px;
        z-index: 1000;
    }

    .header .right>ul>li:nth-child(3){
        display: inline-block;
    }
    .menuButton{
        margin-top: 1.7rem;
        right: .1rem;
    }
    .child1{
        transform: rotate(45deg)translate(-55px,-40px);
    }  
    .child3{
        transform: rotate(-45deg)translate( 41px,-57px);
    } 
    .header .right>ul{
        width: 33%;
    }
    .openMenu{
        top: 2.9rem;
        /* display: none; */
        /* visibility: hidden; */
    }
    .showMenu{
        top: 2.9rem;
      /* display: inline-block; */
      /* visibility: visible; */
    }
}
