@font-face {
    font-family: 'Cormorant Garamond', serif;
    src: url(../font/Cormorant_Garamond/CormorantGaramond-Light.ttf);
}
.login{
    width: 100%;
    padding: 3rem 0;
    background-image: url(../img/loginBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}
.loginInner{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login .left{
    width: 35%;
    padding-bottom: 2rem;
    background-color: #fff;
    /* background-color: #e4dad7; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1.7px dashed #d7d7d7;
    border-radius: 2rem;
    /* box-shadow: 2px 2px 8px rgb(206 206 206); */
}
.login .left h2{
    color: #d4b9bd;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-size: 3rem;
    margin: 2rem 0;
}
.login .left input{
    font-family: SourceSansPro-Bold;
    font-size: 1rem;
    color: #4b2354;
    display: block;
    height: 50px;
    padding: 0 20px 0 23px;
    width: 70%;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 1rem;
    border: none;
    outline: none;
    box-shadow: 2px 2px 15px -2px rgb(206, 206, 206);
}
.login .left button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    min-width: 40%;
    background-color: #bd59d4;
    border-radius: 2rem;
    font-family: SourceSansPro-SemiBold;
    font-size: .9rem;
    color: #d4b9bd;
    text-transform: uppercase;
    transition: all 0.4s;
    box-shadow: 0 10px 30px 0px rgb(216, 200, 195);
    outline: none;
    border: none;
    background: transparent;
}
.login .left button:hover{
    cursor: pointer;
    color: #fff;
    background-color: #d4b9bd;
}
.login .left p{
    font-family: SourceSansPro-Regular;
    font-size: 16px;
    line-height: 1.4;
    color: #999999;
    margin: 1rem 0;
}
.login .left div{
    display: flex;
}
.login .left div span{
    margin: .3rem;
}
.login .left div a{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 1rem; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 5px 20px 0px rgb(0 0 0 / 10%);
    font-size: 1.3rem;
    transition: all 0.4s;
}
.login .left div span:hover a{
    font-size: 1.4rem;
}
.login .left .signUp{
    margin: .4rem 0;
}
.login .left .signUp a{
    color: #d4b9bd;
    font-family: SourceSansPro-SemiBold;
    font-size: 1.2rem;
}
.login .right{
    width: 50%;
    /* height: 70vh; */
    display: flex;
    position: relative;
}
.login .right img{
    width: 96%;
    /* height: 100%; */
    z-index: 9;
}
.login .right .bgColor{
    width: 70%;
    height: 120%;
    background-color: #e4dad7 ;
    transform: translateX(100%);
    margin: -2.8rem;
    position: absolute;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
}
@media only screen and (max-width: 1440px) {}
@media only screen and (max-width: 1024px) {
    .login .left{
        width: 45%;
    }
    .login .right .bgColor{
        margin: -2.4rem;
    }
}
@media only screen and (max-width: 768px) {
    .loginInner{
        width: 90%;
    }
    .login .left{
        width: 55%;
    }
    .login .right{
        margin-left: 2.5rem;
    }
    .login .right img{
        width: 100%;
    }
    .login .right .bgColor{
        width: 90%;
        height: 208%;
        background-color: #e4dad7;
        transform: translateX(100%);
        margin: -48%;
    }
}
@media only screen and (max-width: 426px) {
    .login .left{
        width: 100%;
    }
    .login .right{
        display: none;
    }
    .login ::placeholder{
        font-size: .8rem;
    }
}
@media only screen and (max-width: 376px) {}