.table{
    width: 100%;
}
table{
    width: 100%;
    padding: 0 2rem;
    margin-bottom: 1rem;
    color: #212529;
}
table tr{
    width: 100%;
}
table thead th{
    border-bottom: .1rem solid #ebebeb;
}
table th{
    text-align: left;
    padding: 1.4rem 0;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.5;
    color: #999;
}
table td{
    padding: 1rem 0;
    text-align: left;
    border-bottom: .1rem solid #ebebeb;
}
table td div{
    width: 70%;
    display: flex;
    align-items: center;
}
table img{
    margin: 0 2.8rem 0 0;
    width: 70px;
}
table div h3{
    display: inline-block;
    color: #333;
    font-weight: 400;
    font-size: 1.2rem;  
    line-height: 1.25;
}
.quantity{
    border: 1px solid #999;
}
.quantity button{
    padding: .8rem;
    font-size: 1.1rem;
}
button{
    border: transparent;
    outline: none;
    background-color: white;
}
.btn{
    /* width: 70%;
    height: 2.5rem; */
    padding: .7rem;
    background-color: #e4dad7;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.btn svg path{
    color: #999 !important;
}
.btn:hover{
    cursor: pointer;
    background-color: #dcc;
    box-shadow: 0px 9px 27px #e4dad7;
}
.btn svg{
    font-size: 1.1rem;
    margin-right: .2rem;
}
.price{
    color: black;
}
.none{
    display: none;
}
@media only screen and (max-width: 1440px) {}
@media only screen and (max-width: 1024px) {}
@media only screen and (max-width: 768px) {
    table td div{
        width: 100%;
    }
    .btn{
        width: 100%;
    }
}
@media only screen and (max-width: 426px) {
    .table th{
        padding: 1.4rem .5rem 1.4rem 0;
        font-size: 1rem;
        line-height: 1;
        white-space: nowrap;
    }
    .table div h3{
        font-size: .9rem;  
        line-height: 1;
    }
    .table img{
        margin: 0 .8rem 0 0;
        width: 60px;
    }
    .btn{
        white-space: nowrap;
        height: 2rem;
        font-size: .6rem;
        padding: 0 0.2rem;
    }
}
@media only screen and (max-width: 376px) {
    .table div h3{
        font-size: .8rem;  
    }
    .table .tdP{
        font-size: .75rem;
    }
}